.weatherBox {
  padding: 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: 40% 40% 18%;
  align-items: center;
  gap: 15px;
  height: 30vh;
}

.weatherBox div {
  background-color: #2a2828;
  border-radius: 1rem;
}
/* =============================================First box================================== */
.firstBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem 0;
}

.firstBox .left {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.firstBox .left .temperature .highAndLow {
  display: flex;
  gap: 10px;
}

.firstBox .left .temperature .highAndLow p,
.firstBox .left .dayAndDate p,
.firstBox .right .weatherDescription p ,.thirdBox .box p{
  font-size: 13px;
  letter-spacing: 0.5px;
}

.firstBox .right {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 50%;
}

.firstBox .right .weather--img {
  width: 42%;
}

.firstBox .right .weather--img img {
  width: 100%;
  height: 100%;
}

/* =============================================Second box================================== */

.secondBox {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  background-color: #121b30 !important;
}

.secondBox .box{
    background-color: #2a2828 !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* ===============================================thirdbox========================= */
.thirdBox {
  background-color: lightskyblue;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.thirdBox .box .am{
    font-size: 12px;
    font-weight: 400;
}

.thirdBox .box h1{
    text-align: center;
}