body,*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


.container{
    background-color: #1b1c1f;
  height: 100vh;
  width: 80vw;
  margin: 0 auto 0;
}


.dark {
  background-color: #1b1c1f;
}


.light{
  background-color: aliceblue;
}